.planet {
  width: 300px;
  height: 300px;
  transition: all 0.25s ease-out, saturate 0s, opacity 0s;
}

.planetTitle {
  color: var(--planet-text-color);
}

.planet button {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.planet img {
  display: block;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.planet:has(img:hover) {
  transform: translateY(-15px);
  filter: saturate(300%);
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 12px;
}

dialog button {
  padding: 1em;
  background-color: rgba(255, 0, 0, 0.8);
  margin-block-start: 1em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.67);
}

.dialogContent {
  padding: 1em;
}

.planetInformation {
  text-align: left;
  padding: 20px;
}

.planetInformation > :first-child {
  margin-block-start: 20px;
}

.info {
  margin-block-end: 10px;
}
