dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 12px;
}

dialog button {
  padding: 1em;
  background-color: rgba(255, 0, 0, 0.8);
  margin-block-start: 1em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
